*.VC.db
*.user
*.htm
*.drawio.bkp
.vs/
obj/
bin/
Audio.Asio/TestResults/
/Test/Test.Audio.Asio/Audio.Foundation.Unmanaged.dll
/Docs/~$Track Status Flow Clash.drawio.dtmp
/Docs/.$Audio.Asio.Buffers.drawio.bkp
/x64/Debug
/Audio.Asio.Unmanaged/int/Debug/x64
/Test/RepeatMyself/x64/Debug
/Test/RepeatMyself/fred_0.dat
/Audio.Asio.Unmanaged/int/Release/x64
/Test/RepeatMyself/x64/Release
/x64/Release
/Test/RepeatMyself/fred_1.dat
/Test/Test.Audio.Common/x64/Debug
