*.VC.db
*.user
*.htm
.vs/
obj/
bin/
Audio.Asio/TestResults/
/Test/Test.Audio.Asio/Audio.Foundation.Unmanaged.dll
/Docs/~$Track Status Flow Clash.drawio.dtmp
/Docs/.$Audio.Asio.Buffers.drawio.bkp
/x64/Debug
